{:paths ["dev" "notebooks"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}
        io.github.nextjournal/clerk
        {:git/sha "d80187013d7b7b96db3d8b114b8d99f687170668"}
        org.mentat/clerk-utils {:mvn/version "0.6.0"}
        org.mentat/emmy {:mvn/version "0.31.0"}
        org.mentat/emmy-viewers {:mvn/version "0.3.1"}}
 :aliases
 {:nextjournal/clerk {:exec-fn user/build!}}}
